.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.logo-small {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px;
}
